<section class="uk-section" *ngIf="!connected">
  <div class="uk-container">
    <form class="uk-grid-small uk-child-width-1-4" uk-grid>
      <div>
        <input class="uk-input" type="text" placeholder="ftp.server.com" [(ngModel)]="host">
      </div>
      
      <div>
        <input class="uk-input" type="text" placeholder="username" [(ngModel)]="username">
      </div>

      <div>
        <input class="uk-input" type="password" placeholder="••••••••" [(ngModel)]="password">
      </div>

      <div>
        <input class="uk-input" type="type" placeholder="21" [(ngModel)]="port">
      </div>
  
      <div>
        <button class="uk-button uk-button-primary" (click)="connect()">Connect</button>
      </div>
    </form>
  </div>
</section>

<section class="section" *ngIf="connected">
  <button class="button is-danger is-outlined" (click)="disconnect()">Disconnect</button>
</section>
